<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PriType</string>
	<key>CFBundleExecutable</key>
	<string>PriTypeV2</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.pritype.inputmethod.v2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PriType</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.3</string>
	<key>CFBundleVersion</key>
	<string>38</string>
	<key>InputMethodConnectionName</key>
	<string>PriType_InputString_v2</string>
	<key>InputMethodServerControllerClass</key>
	<string>PriTypeInputController</string>
	<key>InputMethodServerDataSourceClass</key>
	<string>PriTypeInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>PriTypeInputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>PriTypeReleaseChannel</key>
	<string>stable</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISIconLabels</key>
	<dict>
		<key>Primary</key>
		<string>한</string>
	</dict>
	<key>TISInputSourceID</key>
	<string>com.pritype.inputmethod.v2.korean</string>
	<key>TISIntendedLanguage</key>
	<string>ko</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hang</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>icon.tiff</string>
	<key>tsInputMethodPaletteIconFileKey</key>
	<string>palette-ko.tiff</string>
</dict>
</plist>
