<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>PriType 한글 입력기</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSUIElement</key>
	<true/>

	<key>InputMethodConnectionName</key>
	<string>Meapri_PriType_Swift_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>PriTypeInputController</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>TISInputSourceID</key>
	<string>Meapri.PriType-Swift</string>
	<key>TISIntendedLanguage</key>
	<string>ko</string>
	<key>tsInputMethodIconFileKey</key>
	<string>priType_icon_32.png</string>

	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>Meapri.PriType-Swift.hangul</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>Meapri.PriType-Swift.hangul</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>Hang</string>
				<key>tsInputModeIconFileKey</key>
				<string>priType_icon_32.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>Meapri.PriType-Swift.hangul</string>
		</array>
	</dict>
</dict>
</plist>